body {
  margin: 0 auto;
  text-align: center;
  background-color: black;
  font-size: 10px;
  max-width: 1200px;
}

h1 {
  color: gray;
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  font-family: 'IM Fell Great Primer', "Times New Roman", serif;
}
h2 {
  color: gray;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  font-family: 'IM Fell Great Primer', "Times New Roman", serif;
}

p {
  color: gray;
  font-size: 1.2rem;
  text-align: center;
  font-weight: normal;
  font-family: 'Roboto', "Arial", sans-serif;
}

.copyright {
  font-size: 0.9rem;
}

img {
  border-style: none;
}

/*flexbox styles*/

#container {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  padding: 15px 18px;
  display: inline-flex;
}

#nav li a, a:visited {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Cabin Sketch', "Comic Sans", cursive;
}

#nav a:hover {
  text-decoration: underline;
}

/*grid styles*/

.cards{
  margin: 10px 10px 10px 10px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "a a b b"
  "c c d d";
}

.cards p, a, a:visited, a:hover {
  color: black;
  font-family: 'Roboto', "Arial", sans-serif;
}

.cards a, a:visited {
  text-decoration: none;
  font-weight: bold;
}

.cards a:hover {
  text-decoration: underline;
}

#card1 {
  grid-area: a;
  background-color: gray;
  padding: 10px;
    }

#card2 {
  grid-area: b;
  background-color: gray;
  padding: 10px;
    }

#card3 {
  grid-area: c;
  background-color: gray;
  padding: 10px;
}

#card4 {
  grid-area: d;
  background-color: gray;
  padding: 10px;
}


@media (max-width: 350px) {
  .cards {
    grid-template-columns: 1fr;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
  }
  #container {
    flex-direction:column;
    flex-wrap: wrap;
  }
  #nav li {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 800px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "a b c"
    "d d d";
  }
}
